<div *ngIf="enableInput; else disabled">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <label for="insertedAccessCode">Enter Acces Code:</label><br>
        <input name="insertedAccessCode" [(ngModel)]="insertedAccessCode" required />
        <button class="btn btn-primary" type="submit">Validate</button>
        <br>
        <label for="access_code">Range is between {{ minRange }} and {{ maxRange }}</label><br>
    </form>

    <p>{{ response }}</p>

    <p>Attempts available: {{ availableAttempts }}</p>
</div>

<ng-template #disabled>
    To many attempts...
</ng-template>



